In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

import warnings
warnings.filterwarnings('ignore')

# DF 불러오고 합치기

In [2]:
df= pd.read_csv("~/Desktop/POSCO/bigdata_project/Total_0823.csv" )
#df_loan = pd.read_csv("./01_Data_set_대출.csv",encoding = "euc-kr")

In [3]:
#df = pd.merge(df_ins,df_loan, on = ['CUST_ID'])

In [4]:
df.isnull().sum()

Unnamed: 0           0
CUST_ID              0
OCCP_NAME_G          0
CUST_JOB_INCM        0
HSHD_INFR_INCM       0
ACTL_FMLY_NUM        0
CUST_FMLY_NUM        0
LAST_CHLD_AGE        0
MATE_JOB_INCM        0
CRDT_LOAN_CNT        0
MIN_CNTT_DATE        0
TOT_CRLN_AMT         0
TOT_REPY_AMT         0
CRLN_OVDU_RATE       0
CRLN_30OVDU_RATE     0
LT1Y_CLOD_RATE       0
STRT_CRDT_GRAD       0
LTST_CRDT_GRAD       0
PREM_OVDU_RATE       0
LT1Y_PEOD_RATE       0
AVG_STLN_RATE        0
STLN_REMN_AMT        0
LT1Y_STLN_AMT        0
LT1Y_SLOD_RATE       0
GDINS_MON_PREM       0
SVINS_MON_PREM       0
FMLY_GDINS_MNPREM    0
FMLY_SVINS_MNPREM    0
MAX_MON_PREM         0
TOT_PREM             0
FMLY_TOT_PREM        0
CNTT_LAMT_CNT        0
LT1Y_CTLT_CNT        0
AUTR_FAIL_MCNT       0
FYCM_PAID_AMT        0
FMLY_CLAM_CNT        0
FMLY_PLPY_CNT        0
AGE                  0
SEX                  0
TARGET               0
BNK_LNIF_CNT         0
CPT_LNIF_CNT         0
SPART_LNIF_CNT       0
ECT_LNIF_CNT         0
TOT_LNIF_AMT         0
TOT_CLIF_AMT         0
BNK_LNIF_AMT         0
CPT_LNIF_AMT         0
CRDT_OCCR_MDIF       0
SPTCT_OCCR_MDIF      0
CRDT_CARD_CNT        0
CTCD_OCCR_MDIF       0
CB_GUIF_CNT          0
CB_GUIF_AMT          0
Target               0
Target_year          0
Auto_fail_cnt        0
Category             0
dtype: int64

In [5]:
df['AGE']

0        50
1        50
2        60
3        35
4        45
         ..
95275    55
95276    45
95277    45
95278    45
95279    55
Name: AGE, Length: 95280, dtype: int64

In [6]:
df.isnull().sum()

Unnamed: 0           0
CUST_ID              0
OCCP_NAME_G          0
CUST_JOB_INCM        0
HSHD_INFR_INCM       0
ACTL_FMLY_NUM        0
CUST_FMLY_NUM        0
LAST_CHLD_AGE        0
MATE_JOB_INCM        0
CRDT_LOAN_CNT        0
MIN_CNTT_DATE        0
TOT_CRLN_AMT         0
TOT_REPY_AMT         0
CRLN_OVDU_RATE       0
CRLN_30OVDU_RATE     0
LT1Y_CLOD_RATE       0
STRT_CRDT_GRAD       0
LTST_CRDT_GRAD       0
PREM_OVDU_RATE       0
LT1Y_PEOD_RATE       0
AVG_STLN_RATE        0
STLN_REMN_AMT        0
LT1Y_STLN_AMT        0
LT1Y_SLOD_RATE       0
GDINS_MON_PREM       0
SVINS_MON_PREM       0
FMLY_GDINS_MNPREM    0
FMLY_SVINS_MNPREM    0
MAX_MON_PREM         0
TOT_PREM             0
FMLY_TOT_PREM        0
CNTT_LAMT_CNT        0
LT1Y_CTLT_CNT        0
AUTR_FAIL_MCNT       0
FYCM_PAID_AMT        0
FMLY_CLAM_CNT        0
FMLY_PLPY_CNT        0
AGE                  0
SEX                  0
TARGET               0
BNK_LNIF_CNT         0
CPT_LNIF_CNT         0
SPART_LNIF_CNT       0
ECT_LNIF_CNT         0
TOT_LNIF_AMT         0
TOT_CLIF_AMT         0
BNK_LNIF_AMT         0
CPT_LNIF_AMT         0
CRDT_OCCR_MDIF       0
SPTCT_OCCR_MDIF      0
CRDT_CARD_CNT        0
CTCD_OCCR_MDIF       0
CB_GUIF_CNT          0
CB_GUIF_AMT          0
Target               0
Target_year          0
Auto_fail_cnt        0
Category             0
dtype: int64

# 직업별 실효해지건수 분석

In [7]:
df['OCCP_NAME_G'].value_counts()

주부          27125
사무직         16404
2차산업 종사자     9400
자영업          9288
3차산업 종사자     8072
공무원          5060
전문직          4965
단순 사무직       4029
학생           3729
운전직          2088
고소득 전문직      1214
1차산업 종사자     1159
기업/단체 임원     1031
예체능계 종사자      912
단순 노무직        804
Name: OCCP_NAME_G, dtype: int64

In [8]:
# 직업별 실효해지건수 
job_lamt = df_ins.groupby('OCCP_NAME_G')[['CNTT_LAMT_CNT','CUST_JOB_INCM']].mean()
job_lamt = job_lamt.reset_index().round(3)
job_lamt.corr()

NameError: name 'df_ins' is not defined

In [ ]:
# 직업별 실효해지건수 
job_lamt = df_ins.groupby('OCCP_NAME_G')[['CNTT_LAMT_CNT','CUST_JOB_INCM']].mean()
job_lamt = job_lamt.reset_index().round(3)
job_lamt

In [ ]:
job_lamt.drop([0,7,15,16], inplace=True)
# 주부, 학생, 기타 직업에 대한 로우 삭제 
# -> 주부와 학생은 자신들의 소득으로 생계를 유지하는 것이 아니며 기타는 그 소득의 근원을 모르기에 삭제하여 상관계수의 유의미성을 확보

In [ ]:
job_lamt.corr()

In [ ]:
job_lamt.to_csv('./직업별해지건수_소득.csv', encoding = 'euc-kr')

In [ ]:
df = pd.merge(df_ins,df_loan, on = ['CUST_ID'])

# 막내자녀나이 결측치 처리

In [ ]:
df_ins[(df_ins['LAST_CHLD_AGE']==0.0) & (df_ins['AGE']=='35')]['LAST_CHLD_AGE'].replace({0.0:18.0}, inplace=True)

In [ ]:
df_ins[df_ins['AGE']=='35']

In [ ]:
for i in range(len(df_ins['LAST_CHLD_AGE'])):
    # 나이 35인 사람에 대해 막내자녀 결측치 처리 (18 대체)
    if (df_ins.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df_ins.loc[i, 'AGE'] == '35'):
        df_ins.loc[i, 'LAST_CHLD_AGE'] = 18
    # 나이 40인 사람에 대해 막내자녀 결측치 처리 (17 대체)
    if (df_ins.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df_ins.loc[i, 'AGE'] == '40'):
        df_ins.loc[i, 'LAST_CHLD_AGE'] = 17

# 보험.csv 슬라이드 3 결측치 처리

In [ ]:
# 보험료 연체율
df['PREM_OVDU_RATE'].value_counts()

## 파생변수 생성 (예상 타겟변수_실효해지건수)

In [ ]:
# 'CNTT_LAMT_CNT' - 실효해지건수 파생변수 생성
_list = []
for cnt in df['CNTT_LAMT_CNT']:
    if cnt == 0: # 0 : 실효해지 무 
        _list.append(0)
    else:
        _list.append(1) # 실효해지한 값에 대해새는 1로 처리 => 1: 실효해지 유 

df["Target"] = _list

# 'LT1Y_CTLT_CNT' - 최근 1년 실효해지건수 파생변수 생성
_list = []
for cnt in df['LT1Y_CTLT_CNT']:
    if cnt == 0: # 0 : 실효해지 무 
        _list.append(0)
    else:
        _list.append(1) # 실효해지한 값에 대해새는 1로 처리 => 1: 실효해지 유 

df["Target_year"] = _list

In [ ]:
df['Target'].describe()

In [ ]:
df['Target'].value_counts()

In [ ]:
df['Target_year'].value_counts()

## 직업별 추정소득 분포 확인

In [ ]:
# 직업의 결측치, * 값을 가진 인덱스 추출
idx = df[df['OCCP_NAME_G']=='*'].index
idx

In [ ]:
# 직업 결측치 삭제하여 새로운 df에 저장
df1 = df.drop(idx)

In [ ]:
# 소득의 결측치 인덱스 반환
idx = df1[df1['CUST_JOB_INCM']==0].index
idx

In [ ]:
# 소득 결측치 제거 
df1 = df1.drop(idx)

In [ ]:
df1[['OCCP_NAME_G','CUST_JOB_INCM']]

In [ ]:
df[(df['OCCP_NAME_G']=='*') & (df['Target']==1)]

In [ ]:
# 직업이 기타인 행의 소득은 모두 0임 (1672개) -> 전체 데이터의 5프로보다 작은 값이므로 이에 대해 삭제할 수 있다고 판단
# 하지만 그 전에 Target의 값이 1인 소중한 경우들이 몇개인지 확인 -> 133개 (Target 1인 값 : 8323개)
# 따라서 직업이 기타인 행은 전부 삭제하겠다고 판단.
df[(df['OCCP_NAME_G']=='기타') & (df['Target']==1)]

In [ ]:
job = ['사무직', '2차산업 종사자','자영업','3차산업 종사자','전문직','공무원','단순 사무직','운전직','고소득 전문직','기업/단체 임원',
       '예체능계 종사자', '1차산업 종사자','단순 노무직','주부','학생']

In [ ]:
df['OCCP_NAME_G'].value_counts()

In [ ]:
df['OCCP_NAME_G'].value_counts()

In [ ]:
# 정규성 검정 전 1차적 확인으로 hist 
for j in job:
    plt.hist(df1[df1['OCCP_NAME_G'] == j]['CUST_JOB_INCM'], bins=25)
    plt.title(j)
    plt.show()

In [ ]:
df1.groupby('OCCP_NAME_G')['CUST_JOB_INCM'].agg(['mean','median']).round(3)

### 정규성을 따진 후 평균이나 중앙값으로 소득 결측치 채우기

-  정규성 (평균)
    - 사무직  4900
	- 2차산업 종사자 4400
	 - 자영업 5000
	- 3차산업 종사자 4000
	-  공무원 4600
	- 단순 사무직 4000
	- 예체능계 종사자 4200
	- 운전직 4700
	- 전문직 4500
	- 1차산업 종사자 4300
	- 





- 비정규성 (중앙값)
    - 학생 3000
    - 주부 3600
    - 단순 노무직 3600
    - 기업/단체 임원 8400
    - 고속득 전문직 7000

In [ ]:
# 직업이 * 이나 기타로 기재된 값들에 대해 아에 제외처리함 (위에서 Target 1의 개수 확인 O)
idx = df[df['OCCP_NAME_G']=='*'].index
idx
df.drop(idx, inplace=True)

idx = df[df['OCCP_NAME_G']=='기타'].index
idx
df.drop(idx, inplace=True)

In [ ]:
# 비정규성(중앙값 대체)
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '기타')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '주부')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '학생')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 노무직')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '기업/단체 임원')]= 8400
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '고소득 전문직')] = 7000

# 정규성(평균값 대체)
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '사무직')] = 4900
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '2차산업 종사자')] = 4400
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '자영업')] = 5000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '3차산업 종사자')] = 4000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '공무원')]= 4600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 노무직')] = 3700
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 사무직')]= 4000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '예체능계 종사자')]= 4200
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '운전직')]= 4700
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '전문직')]= 4500
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '1차산업 종사자')] = 4000

In [ ]:
df[df['CUST_JOB_INCM']==0]

In [ ]:
df["OCCP_NAME_G"].isna().sum()

In [ ]:
df["OCCP_NAME_G"].value_counts(dropna=False)

In [ ]:
df["CUST_JOB_INCM"].value_counts()

In [ ]:
df[df['CUST_JOB_INCM']==0]

In [ ]:
age = [20,25,30,35,40,45,50,55,60,65,70]

In [ ]:
from scipy.stats import shapiro

for j in job:
    _a = df1[df1['OCCP_NAME_G'] == j]['CUST_JOB_INCM']
    statistic, p = shapiro(_a)
    print(f"{j} : Shapiro Wilk Test: statistic = {statistic}, p-value={round(p,3)}")

In [ ]:
df1['AGE'] = df1['AGE'].astype('int')

In [ ]:
df1['AGE']

In [ ]:
df1['SEX'].value_counts() # 남 1, 여 2

In [ ]:
df1['SEX'] = df1['SEX'].astype('int')

In [ ]:
from sklearn.preprocessing import LabelEncoder

job = df1['OCCP_NAME_G']
par_job = df1['MATE_OCCP_NAME_G']


encoder = LabelEncoder()

encoder.fit(job)
labels = encoder.transform(job)
df1['OCCP_NAME_G'] = labels


encoder.fit(par_job)
labels = encoder.transform(par_job)
df1['MATE_OCCP_NAME_G'] = labels

In [ ]:
df1['LT1Y_PEOD_RATE'].value_counts()

In [ ]:
df1['LT1Y_PEOD_RATE'] = df1['LT1Y_PEOD_RATE'].str.replace('미만','')
df1['LT1Y_PEOD_RATE'] = df1['LT1Y_PEOD_RATE'].str.replace('이상','')
df1['LT1Y_PEOD_RATE'] = df1['LT1Y_PEOD_RATE'].astype('int')

In [ ]:
df1['LT1Y_PEOD_RATE'].value_counts()

In [ ]:
df1

In [ ]:
idx = df1[df1['LT1Y_PEOD_RATE'] == 60].index

df1.drop(idx, inplace=True)

In [ ]:
idx = df1[df1['LT1Y_PEOD_RATE'] == 90].index

df1.drop(idx, inplace=True)

In [ ]:
df1['LT1Y_PEOD_RATE'].replace({10:5, 20:15, 30:25, 40:35, 50:45})

In [ ]:
df[(df['LT1Y_PEOD_RATE']== 60) & (df['Target']==1)]

In [ ]:
df[(df['LT1Y_PEOD_RATE']== 90) & (df['Target']==1)]

In [ ]:
# 연체율이 50 이상이 될 수 없으므로 (최대 퐁당퐁당 50임) 60, 90인거 제외함

In [ ]:
df1

In [ ]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

target = df1['CUST_JOB_INCM']
x_data = df1.drop(['CUST_JOB_INCM','CUST_ID'], axis=1)

x_train, x_test, y_train, y_test = train_test_split(x_data, target, test_size=0.3, random_state=0)


lgbm_reg = LGBMRegressor(n_estimators = 1000, learning_rate = 0.05, num_leaves = 4, n_jobs = -1)

lgbm_reg.fit(x_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score


pred = lgbm_reg.predict(x_test)
mse = mean_squared_error(y_test, pred)
r2 = r2_score(y_test, pred)

print(round(mse,3), round(r2,3))

In [ ]:
df1.corr()['CUST_JOB_INCM'].sort_values(ascending=False)

In [ ]:
idx = df1[df1['CUST_JOB_INCM']==0].index

df2 = df1.iloc[idx]
df2

# df 변경(전처리)

In [ ]:
idx = df[df['OCCP_NAME_G'].isnull()].index
# 직업에 대한 값이 null인 행 제거 
df.drop(idx, inplace=True)

df.drop('MATE_OCCP_NAME_G', axis=1, inplace=True)
df.isnull().sum().sort_values(ascending=False)
# 이제 막내자녀나이에 대한 null밖에 없음

In [ ]:
df['SEX'].value_counts()

In [ ]:
idx = df[df['SEX'] == '*'].index

df.drop(idx, inplace=True)

In [ ]:
df['AGE'] = df['AGE'].astype('int')
df['SEX'] = df['SEX'].astype('int')

In [ ]:
df['LT1Y_PEOD_RATE'] = df['LT1Y_PEOD_RATE'].str.replace('미만','')
df['LT1Y_PEOD_RATE'] = df['LT1Y_PEOD_RATE'].str.replace('이상','')
df['LT1Y_PEOD_RATE'] = df['LT1Y_PEOD_RATE'].astype('int')

In [ ]:
idx = df[df['LT1Y_PEOD_RATE'] == 60].index

df.drop(idx, inplace=True)

In [ ]:
idx = df[df['LT1Y_PEOD_RATE'] == 90].index

df.drop(idx, inplace=True)

In [ ]:
df['LT1Y_PEOD_RATE'].replace({10:5, 20:15, 30:25, 40:35, 50:45})

In [ ]:
# 직업이 * 이나 기타로 기재된 값들에 대해 아에 제외처리함 (위에서 Target 1의 개수 확인 O)
idx = df[df['OCCP_NAME_G']=='*'].index
idx
df.drop(idx, inplace=True)

idx = df[df['OCCP_NAME_G']=='기타'].index
idx
df.drop(idx, inplace=True)

In [ ]:
# 비정규성(중앙값 대체)
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '기타')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '주부')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '학생')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 노무직')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '기업/단체 임원')]= 8400
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '고소득 전문직')] = 7000

# 정규성(평균값 대체)
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '사무직')] = 4900
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '2차산업 종사자')] = 4400
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '자영업')] = 5000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '3차산업 종사자')] = 4000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '공무원')]= 4600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 노무직')] = 3700
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 사무직')]= 4000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '예체능계 종사자')]= 4200
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '운전직')]= 4700
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '전문직')]= 4500
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '1차산업 종사자')] = 4000

In [ ]:
df.reset_index(inplace=True, drop=True)

In [ ]:
# 막내자녀나이 결측치
for i in range(len(df['LAST_CHLD_AGE'])):
    # 나이 35인 사람에 대해 막내자녀 결측치 처리 (18로 대체)
    if (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '35') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 18
    # 나이 40인 사람에 대해 막내자녀 결측치 처리 (17로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '40') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 17    
    # 나이 45인 사람에 대해 막내자녀 결측치 처리 (20으로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '45') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 20   
    # 나이 50인 사람에 대해 막내자녀 결측치 처리 (24로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '50') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 24   
     # 나이 55인 사람에 대해 막내자녀 결측치 처리 (29로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '55') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 29  
    # 나이 30인 사람에 대해 막내자녀 결측치 처리 (20으로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '30') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 20  
    # 나이 60인 사람에 대해 막내자녀 결측치 처리 (33으로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '60') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 33  
    # 나이 25인 사람에 대해 막내자녀 결측치 처리 (21로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '25') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 21   
    # 나이 65인 사람에 대해 막내자녀 결측치 처리 (37로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '65') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 37   
     # 나이 20인 사람에 대해 막내자녀 결측치 처리 (23로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '20') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 23 
    # 나이 70인 사람에 대해 막내자녀 결측치 처리 (37로 대체)
    elif (df.loc[i, 'LAST_CHLD_AGE'] == 0.0) & (df.loc[i, 'AGE'] == '70') & (df.loc[i,'ACTL_FMLY_NUM']>=3):
        df.loc[i, 'LAST_CHLD_AGE'] = 37

In [ ]:
df['LAST_CHLD_AGE'].isnull().sum()

In [ ]:
# df.isnull().sum().sort_values(ascending=False)

In [ ]:
# 직업별 추정소득 채워넣기 (평균 or 중간값)

# 비정규성(중앙값 대체)
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '기타')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '주부')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '학생')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 노무직')]= 3600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '기업/단체 임원')]= 8400
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '고소득 전문직')] = 7000

# 정규성(평균값 대체)
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '사무직')] = 4900
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '2차산업 종사자')] = 4400
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '자영업')] = 5000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '3차산업 종사자')] = 4000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '공무원')]= 4600
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 노무직')] = 3700
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '단순 사무직')]= 4000
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '예체능계 종사자')]= 4200
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '운전직')]= 4700
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '전문직')]= 4500
df['CUST_JOB_INCM'][(df['CUST_JOB_INCM']==0) & (df['OCCP_NAME_G'] == '1차산업 종사자')] = 4000

In [ ]:
df[df['CUST_JOB_INCM']==0]

In [ ]:
자동이체 실패 월수를 카운트해서 0과1갓으로 분류
해지건수

In [ ]:
# 'CNTT_LAMT_CNT' - 실효해지건수 파생변수 생성
_list = []
for cnt in df['CNTT_LAMT_CNT']:
    if cnt == 0: # 0 : 실효해지 무 
        _list.append(0)
    else:
        _list.append(1) # 실효해지한 값에 대해새는 1로 처리 => 1: 실효해지 유 

df["Target"] = _list

# 'LT1Y_CTLT_CNT' - 최근 1년 실효해지건수 파생변수 생성
_list = []
for cnt in df['LT1Y_CTLT_CNT']:
    if cnt == 0: # 0 : 실효해지 무 
        _list.append(0)
    else:
        _list.append(1) # 실효해지한 값에 대해새는 1로 처리 => 1: 실효해지 유 

df["Target_year"] = _list

In [ ]:
# AUTR_FAIL_MCNT - 자동이체 실패  파생변수 생성
_list = []
for cnt in df['AUTR_FAIL_MCNT']:
    if cnt == 0: # 0 : 자동이체 실패 무 
        _list.append(0)
    else:
        _list.append(1) # 자동이체 실패이력 유

df["Auto_fail_cnt"] = _list

In [ ]:
df["Auto_fail_cnt"]

In [ ]:
df['Auto_fail_cnt'].value_counts().plot.bar()

In [ ]:
df['Target'].value_counts().plot.bar()

In [ ]:
plt.bar(df['Auto_fail_cnt'].index, df['Auto_fail_cnt'])

In [ ]:
# Import Library

import numpy as np 
import matplotlib.pyplot as plt 

# Define Data

team = ['0','1']
MCNT = [df["AUTR_FAIL_MCNT"].value_counts()[0],df["AUTR_FAIL_MCNT"].value_counts()[1]]
CNT = [df["CNTT_LAMT_CNT"].value_counts()[0],df["CNTT_LAMT_CNT"].value_counts()[1]]

x_axis = np.arange(len(team))

# Multi bar Chart

plt.bar(x_axis +0.2, MCNT, width=0.4, label = 'AUTR_FAIL_MCNT')
plt.bar(x_axis -0.2, CNT, width=0.4, label = 'CNTT_LAMT_CNT')

# Xticks

plt.xticks(x_axis, team)

# Add legend

plt.legend()

# Display

plt.show()

### 가구 추정 소득

In [15]:
import seaborn as sns

In [9]:
# 가족이 3명인 가구의 중간값으로 대체
df[(df['HSHD_INFR_INCM']==0) & (df['ACTL_FMLY_NUM']==3)][['CUST_JOB_INCM','HSHD_INFR_INCM','ACTL_FMLY_NUM','OCCP_NAME_G','AGE']]['CUST_JOB_INCM'].value_counts()

3600    502
4000     36
5000     17
4400     15
4900     14
4600      8
4700      7
4500      5
8400      2
7000      1
4200      1
Name: CUST_JOB_INCM, dtype: int64

In [30]:
fam3 = df[(df['HSHD_INFR_INCM']!=0) & (df['ACTL_FMLY_NUM']==7)][['CUST_JOB_INCM','HSHD_INFR_INCM','ACTL_FMLY_NUM','OCCP_NAME_G','AGE']][df['ACTL_FMLY_NUM']==7]

In [31]:
fam3['HSHD_INFR_INCM'].describe()

count      236.000000
mean      7865.677966
std       2414.963981
min       2400.000000
25%       5800.000000
50%       7800.000000
75%       9800.000000
max      16900.000000
Name: HSHD_INFR_INCM, dtype: float64

In [24]:
# 가족이 3명인 가구의 중간값으로 대체
df[(df['HSHD_INFR_INCM']==0) & (df['ACTL_FMLY_NUM']==7)][['CUST_JOB_INCM','HSHD_INFR_INCM','ACTL_FMLY_NUM','OCCP_NAME_G','AGE']]['CUST_JOB_INCM'].value_counts()

3600    8
4000    2
8400    1
5000    1
4600    1
Name: CUST_JOB_INCM, dtype: int64

가족 6명: 중간값 : 8100.000000   ,1 명   //  평균 :  7922.815210 , 넘는애들 :1 명    
가족 7명 => 해당 값 없음
가족 8명 => 해당 값 없음