In [1]:
#데이터 처리
import pandas as pd

#행렬 연산
import numpy as np

#데이터 시각화
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import datetime

In [3]:
df_loan=pd.read_csv("~/Desktop/POSCO/bigdata_project/01_Data_set_대출.csv")
df_ins=pd.read_csv("~/Desktop/POSCO/bigdata_project/02_Data_set_보험.csv",encoding = 'euc-kr')

In [4]:
df_ins

,CUST_ID,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,...,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX
0,1,공무원,5400,7700,4,1,24.0,주부,0,0,...,20000000,20000000,0,0,10,0,0,0,50,1
1,2,자영업,5500,8100,4,2,29.0,주부,0,0,...,7000000,36000000,0,0,0,300000,2,5,50,1
2,3,주부,0,4900,4,1,34.0,2차산업 종사자,0,0,...,11000000,11000000,0,0,0,0,0,2,60,2
3,4,학생,0,10100,2,1,0.0,NaN,0,0,...,4000000,4000000,0,0,0,0,0,1,35,1
4,5,공무원,4800,4800,4,1,14.0,주부,0,0,...,4000000,4000000,0,0,0,500000,2,1,45,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100228,102248,자영업,5500,12900,3,3,34.0,자영업,0,0,...,58000000,70000000,0,0,1,700000,0,3,55,2
100229,102249,운전직,4600,9800,5,2,19.0,1차산업 종사자,5200,0,...,37000000,45000000,0,0,0,100000,0,3,45,2
100230,102250,자영업,4800,10400,4,2,14.0,운전직,5600,0,...,45000000,54000000,0,0,1,0,0,4,45,1
100231,102251,사무직,4200,4200,1,1,0.0,NaN,0,0,...,1000000,1000000,0,0,0,0,0,0,45,1
100232,102252,사무직,6000,9900,4,2,24.0,사무직,4000,0,...,22000000,29000000,0,0,0,2900000,0,2,55,2

In [5]:
df_ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100233 entries, 0 to 100232
Data columns (total 39 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUST_ID            100233 non-null  int64
 1   OCCP_NAME_G        99769 non-null   object
 2   CUST_JOB_INCM      100233 non-null  int64
 3   HSHD_INFR_INCM     100233 non-null  int64
 4   ACTL_FMLY_NUM      100233 non-null  int64
 5   CUST_FMLY_NUM      100233 non-null  int64
 6   LAST_CHLD_AGE      99206 non-null   float64
 7   MATE_OCCP_NAME_G   54524 non-null   object
 8   MATE_JOB_INCM      100233 non-null  int64
 9   CRDT_LOAN_CNT      100233 non-null  int64
 10  MIN_CNTT_DATE      100233 non-null  int64
 11  TOT_CRLN_AMT       100233 non-null  int64
 12  TOT_REPY_AMT       100233 non-null  int64
 13  CRLN_OVDU_RATE     100233 non-null  int64
 14  CRLN_30OVDU_RATE   100233 non-null  int64
 15  LT1Y_CLOD_RATE     100233 non-null  int64
 16  STRT_CRDT_GRAD     100233 non-null  int64
 17  LTST_CRDT_GRAD     100233 non-null  int64
 18  PREM_OVDU_RATE     100233 non-null  int64
 19  LT1Y_PEOD_RATE     100233 non-null  object
 20  AVG_STLN_RATE      100233 non-null  int64
 21  STLN_REMN_AMT      100233 non-null  int64
 22  LT1Y_STLN_AMT      100233 non-null  int64
 23  LT1Y_SLOD_RATE     100233 non-null  int64
 24  GDINS_MON_PREM     100233 non-null  int64
 25  SVINS_MON_PREM     100233 non-null  int64
 26  FMLY_GDINS_MNPREM  100233 non-null  int64
 27  FMLY_SVINS_MNPREM  100233 non-null  int64
 28  MAX_MON_PREM       100233 non-null  int64
 29  TOT_PREM           100233 non-null  int64
 30  FMLY_TOT_PREM      100233 non-null  int64
 31  CNTT_LAMT_CNT      100233 non-null  int64
 32  LT1Y_CTLT_CNT      100233 non-null  int64
 33  AUTR_FAIL_MCNT     100233 non-null  int64
 34  FYCM_PAID_AMT      100233 non-null  int64
 35  FMLY_CLAM_CNT      100233 non-null  int64
 36  FMLY_PLPY_CNT      100233 non-null  int64
 37  AGE                100233 non-null  object
 38  SEX                100233 non-null  object
dtypes: float64(1), int64(33), object(5)
memory usage: 29.8+ MB

In [6]:
df_ins.describe()

,CUST_ID,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_JOB_INCM,CRDT_LOAN_CNT,MIN_CNTT_DATE,TOT_CRLN_AMT,...,FMLY_SVINS_MNPREM,MAX_MON_PREM,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT
count,100233.000000,100233.000000,100233.000000,100233.000000,100233.000000,99206.000000,100233.000000,100233.000000,100233.000000,1.002330e+05,...,1.002330e+05,1.002330e+05,1.002330e+05,1.002330e+05,100233.000000,100233.000000,100233.000000,1.002330e+05,100233.000000,100233.000000
mean,51124.199445,2788.233416,6922.486606,2.757794,1.392565,12.233958,1719.524508,0.162232,19743.957130,1.182315e+06,...,1.364362e+05,3.734214e+05,2.071504e+07,3.077308e+07,0.115351,0.022757,2.716082,4.039838e+06,4.218092,1.235092
std,29522.979407,2472.287102,2996.156129,1.316862,0.618116,13.964236,2460.475232,0.612144,59751.358139,5.318477e+06,...,4.993498e+05,7.019720e+05,4.482214e+07,6.431527e+07,0.454317,0.202228,6.945916,1.456263e+07,9.199485,1.642505
min,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,25557.000000,0.000000,4800.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000e+00,7.000000e+04,5.000000e+06,6.000000e+06,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
50%,51119.000000,3600.000000,6600.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000e+00,1.900000e+05,1.100000e+07,1.500000e+07,0.000000,0.000000,0.000000,3.000000e+05,1.000000,1.000000
75%,76691.000000,4700.000000,9200.000000,4.000000,2.000000,24.000000,4400.000000,0.000000,0.000000,0.000000e+00,...,1.000000e+05,3.900000e+05,2.300000e+07,3.400000e+07,0.000000,0.000000,2.000000,1.900000e+06,5.000000,2.000000
max,102252.000000,10000.000000,20000.000000,8.000000,5.000000,60.000000,10000.000000,11.000000,201604.000000,1.010000e+08,...,1.000000e+07,1.000000e+07,1.000000e+09,1.000000e+09,7.000000,6.000000,61.000000,3.001000e+08,171.000000,22.000000

In [15]:
df_ins[df_ins['OCCP_NAME_G']=='주부']['SEX'].value_counts()

2    15182
1    12383
Name: SEX, dtype: int64

In [ ]:
df_ins.isnull().sum()

#### 막내 자녀 나이 결측치 대체??

In [16]:
f_mem=(df_ins[df_ins['LAST_CHLD_AGE']==0]['ACTL_FMLY_NUM'])>=3

In [18]:
df_ins['LAST_CHLD_AGE'].value_counts()

0.0     50125
24.0    10774
19.0     9651
29.0     7905
14.0     5801
34.0     5600
39.0     4297
9.0      2862
44.0     1221
4.0       544
49.0      330
54.0       46
60.0       33
59.0       17
Name: LAST_CHLD_AGE, dtype: int64

In [ ]:
f_mem = f_mem.tolist()
type(f_mem)

In [ ]:
cnt = 0
for f in f_mem:
    if f == True:
        cnt += 1
print(cnt)

In [ ]:
cnt = 0
for f in f_mem:
    if f == False:
        cnt += 1
print(cnt)

#### - 직업('OCCP_NAME_G')

In [ ]:
df_ins['OCCP_NAME_G'].unique()

In [ ]:
df_ins['OCCP_NAME_G'].value_counts()

- 주부가 가장 많음 
- 직업('OCCP_NAME_G') - nan 
- '*' 값 처리 필요

In [12]:
df_ins['OCCP_NAME_G']=='주부'

0         False
1         False
2          True
3         False
4         False
          ...
100228    False
100229    False
100230    False
100231    False
100232    False
Name: OCCP_NAME_G, Length: 100233, dtype: bool

#### - 추정 소득

In [ ]:
df_ins['CUST_JOB_INCM'].unique()

0 값 존재 - 소득이 없는 사람... --> 주부, 학생 추정

In [ ]:
df_ins.boxplot(column='CUST_JOB_INCM')

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['CUST_JOB_INCM'])

#### - 가구 추정 소득

In [ ]:
df_ins['HSHD_INFR_INCM'].unique()

가구 추정 소득 0원 --> 보험료 못냄 or 미기입??

In [ ]:
poor=(df_ins[df_ins['HSHD_INFR_INCM']==0]['MATE_JOB_INCM']==0).tolist()

In [ ]:
cnt=0
for i in poor:
    if(poor==0):
        cnt+=1
cnt

- 가구 추정 소득 0원인 사람 모두 배우자 추정 소득 0
- 미기입일 확률이 높음

In [ ]:
df_ins.boxplot(column='HSHD_INFR_INCM')

#### - 실가족원수

In [ ]:
df_ins['ACTL_FMLY_NUM'].unique()

In [ ]:
df_ins.boxplot(column='ACTL_FMLY_NUM')

#### - 보험 가입 가족 원수

In [ ]:
df_ins['CUST_FMLY_NUM'].unique()

In [ ]:
df_ins.boxplot(column='CUST_FMLY_NUM')

보험 가입 가족원 수 , 실가족원 수 비교 --> 보험 상품 개발, 이유 도출해볼 수 있음

#### - 막내 자녀 나이

In [ ]:
df_ins['LAST_CHLD_AGE'].value_counts()

In [ ]:
df_ins['LAST_CHLD_AGE'].unique()

결측치 존재

In [ ]:
df_ins.boxplot(column='LAST_CHLD_AGE')

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['LAST_CHLD_AGE'])

#### - 배우자 직업

In [ ]:
df_ins['MATE_OCCP_NAME_G'].unique()

In [ ]:
from matplotlib import rcParams

rcParams['figure.figsize']=15,8
matplotlib.rc("font",family="Malgun Gothic")
sns.countplot(x='MATE_OCCP_NAME_G',data=df_ins)

'*' 값 존재 \
결측치(nan) 존재

In [ ]:
#df_ins.boxplot(column='MATE_OCCP_NAME_G')

#### - 배우자 추정 소득

In [ ]:
df_ins['MATE_JOB_INCM'].unique()

배우자 추정 소득 0

In [ ]:
df_ins[df_ins['MATE_JOB_INCM']==0]['MATE_JOB_INCM'].count()

In [ ]:
df_ins.boxplot(column='MATE_JOB_INCM')

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['MATE_JOB_INCM'])

#### - 신용 대출 건수

In [ ]:
df_ins['CRDT_LOAN_CNT'].unique()

In [ ]:
df_ins.boxplot(column='CRDT_LOAN_CNT')

In [ ]:
df_ins[df_ins['CRDT_LOAN_CNT']!=0]['CRDT_LOAN_CNT']

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['CRDT_LOAN_CNT'])

#### - **생명에서의 최초 대출 날짜 : int 형 --> 파생변수 생성(??)

In [ ]:
-

In [ ]:
df_ins.boxplot(column='MIN_CNTT_DATE')

In [ ]:
df_ins[df_ins['MIN_CNTT_DATE']!=0]['MIN_CNTT_DATE']

In [ ]:
a=df_ins['MIN_CNTT_DATE'].tolist()

In [ ]:
year_=[]
for year in a:
    year=str(year)
    year_.append(year[:4])
year_=set(year_)
year_

#### - **생명 신용 대출 금액

In [ ]:
df_ins['TOT_CRLN_AMT'].unique()

In [ ]:
df_ins[df_ins['TOT_CRLN_AMT']==0]['TOT_CRLN_AMT'].count()

In [ ]:
df_ins['TOT_CRLN_AMT'].count()

In [ ]:
df_ins[['TOT_CRLN_AMT']].head(100)

10%정도의 사람들만 ** 생명에서 신용 대출

In [ ]:
(df_ins['TOT_CRLN_AMT']/10000).unique()  # 단위:만원

In [ ]:
df_ins['TOT_CRLN_AMT'].value_counts()

In [ ]:
df_ins['TOT_CRLN_AMT']=df_ins['TOT_CRLN_AMT']/10000

In [ ]:
df_ins.boxplot(column='TOT_CRLN_AMT')

- 총 신용 대출 금액, 상환 금액을 활용해서 현재 총 빌려준 금액 도출 가능--> 파생 변수

#### - **생명 신용 상환 금액

In [ ]:
df_ins['TOT_REPY_AMT'].unique()

In [ ]:
df_ins['TOT_REPY_AMT']=df_ins['TOT_REPY_AMT']/10000

In [ ]:
df_ins['TOT_REPY_AMT'].unique()      #단위: 만원

In [ ]:
df_ins[df_ins['TOT_REPY_AMT']==0]['TOT_REPY_AMT'].count()

In [ ]:
df_ins['TOT_REPY_AMT'].count()

In [ ]:
df_ins.boxplot(column='TOT_REPY_AMT')

#### 신용 대출 연체율

In [ ]:
df_ins['CRLN_OVDU_RATE'].unique()

In [ ]:
df_ins.boxplot(column='CRLN_OVDU_RATE')

In [ ]:
df_ins[df_ins['CRLN_OVDU_RATE']==0]['CRLN_OVDU_RATE'].count()

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['CRLN_OVDU_RATE'])

#### - 30일 이내 신용 대출 연체율

In [ ]:
#df_ins['CRLN_30OVDU_RATE'].unique()

In [ ]:
df_ins.boxplot(column='CRLN_30OVDU_RATE')

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['CRLN_30OVDU_RATE'])

#### - 최근 1년 신용 대출 연체율

In [ ]:
df_ins['LT1Y_CLOD_RATE'].unique()

In [ ]:
df_ins[df_ins['LT1Y_CLOD_RATE']==0]['LT1Y_CLOD_RATE'].count()

In [ ]:
df_ins.boxplot(column='LT1Y_CLOD_RATE')

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['LT1Y_CLOD_RATE'])

#### - 최초 신용 등급

**생명에서 실행된 가장 오래된 대출시점의 신용등급

In [ ]:
df_ins['STRT_CRDT_GRAD'].unique()

In [ ]:
df_ins[df_ins['STRT_CRDT_GRAD']==0]['STRT_CRDT_GRAD'].count()

In [ ]:
df_ins.boxplot(column='STRT_CRDT_GRAD')

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['STRT_CRDT_GRAD'])

#### - 최근 신용 등급

**생명에서 실행된 가장 최근 대출시점의 신용등급

In [ ]:
df_ins['LTST_CRDT_GRAD'].unique()

In [ ]:
df_ins.boxplot(column='LTST_CRDT_GRAD')

In [ ]:
plt.ticklabel_format(style='plain')
sns.violinplot(df_ins['LTST_CRDT_GRAD'])